:root {
  --background: #34344A;
  --text: #FDFFFC;
  --color: #EE964B;
}

[data-theme="light"] {
  --background: #FDFFFC;
  --text: #011627;
  --color: #EE964B;
}

body {
  background: var(--background);
  color: var(--text);
}